<h2>Template: <small>Dínamicos</small></h2>
<hr>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
    
    <div class="row">
        <label class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-form-label">Nombre</label>
        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
            <input class="form-control"
                   type="text"
                   placeholder="Nombre de la persona"
                   formControlName="name">
            <small *ngIf="myForm.controls['name']" class="text-danger">Este campo es obligatorio</small>
        </div>
    </div>

    <div class="row mt-4">
        <label class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-form-label">Agregar</label>
        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
            <div class="input-group">
                <input class="form-control"
                       type="text"
                       placeholder="Agregar favorito"
                       [formControl]="nuevo_favorito">
                <button class="btn btn-outline-primary" (click)="onAddToFavorites()" type="button">Agregar</button>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <label class="col-xs-3 col-sm-3 col-md-2 col-lg-2 col-form-label">Favoritos</label>
        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9" formArrayName="favoriteGames">
            <div *ngFor="let item of favoriteGames.controls; let i = index"
                 class="input-group mb-2">
                <input class="form-control"
                       type="text"
                       placeholder="Agregar favorito"
                       [formControlName]="i">
                <button class="btn btn-outline-danger" (click)="onDeleteFavorite( i )">Eliminar</button>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
            <button class="btn btn-primary"
                    type="submit"
                    [disabled]="myForm.invalid">
                Guardar
            </button>
        </div>
    </div>
    
</form>


<span>Valid</span>
<pre>{{ myForm.valid| json }}</pre>
<br>

<span>Value</span>
<pre>{{ myForm.value | json }}</pre>
<br>

<span>Agregar Juego</span>
<pre>{{ nuevo_favorito.valid | json }}</pre>
<pre>{{ nuevo_favorito.value | json }}</pre>